# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/
.fmp_env/

# Ignore system files and folders (Windows)
Thumbs.db
Desktop.ini
.DS_Store

# Ignore Anaconda and Jupyter files
.ipython/
.jupyter/
.matplotlib/
anaconda3/
conda-meta/

# Ignore IDE settings (VSCode, PyCharm, etc.)
.vscode/
.idea/

# Ignore log files and temporary files
*.log
*.tmp
*.bak

# Ignore egg info and build directories
*.egg-info/
build/
dist/

# Ignore configuration files and secrets
*.env
.env
